.main{
	width: 90%;
	max-width: 900px;
	background-color: #ffffff;
	margin: 0 auto;
}

span{
	font-weight: 600;
}

.side-l{
	float: left;
	width: 18%;
	margin-right: 2%;
	background-color: #6495ED;
	height: 640px;
	text-align: center;
}

.side-r{
	float: left;
	width: 75%;
}
