<!DOCTYPE html>
<html>
<head>
	<title>layout</title>
	<link rel="stylesheet" type="text/css" href="layout.css">
</head>
<body>
	<header>
		<div class="header-content">
			<ul>
				<li><a href="#">github</a></li>
				<li><a href="#">register</a></li>
				<li><a href="#">login</a></li>
			</ul>
			<h3 class="loge">Loge</h3>
		</div>
	</header>
	<div class="banner">
		<div class="ban-content">
			<ul>
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
			</ul>
		</div>
	</div>
	<div class="navigation">
		<div class="nav">
		    <ul>
			    <li>home</li>
			    <li>profile</li>
			    <li>about</li>
		    </ul>
	    </div>
	</div>
	<div class="main-content">
		<div>content1</div>
		<div>maybe is content2</div>
		<div>should be content3</div>
		<div>content4</div>
		<div>content5</div>
		<div>content6</div>
		<div>content7</div>
		<div>content8</div>
		<div>content9</div>
		<div>content10</div>
	</div>
	<footer>2018 ife.baidu.com</footer>
</body>
</html>